//screen


///color
$color-primary:#d17721;
$color-black:#111111;
$color-white:#ffffff;

$color-bg-gray:#222222;
$color-bg-beige:#faf5f1;

$color-txt-black:#2d2d43;
$color-txt-white:#eeeeee;
$color-txt-gray:#8c8c8c;
$color-opalescent:#8f94a8;

// font-weight

.fw-200 {font-weight: 200;}
.fw-300 {font-weight: 300;}
.fw-400 {font-weight: 400;}
.fw-500 {font-weight: 500;}
.fw-600 {font-weight: 600;}
.fw-700 {font-weight: 700;}
.fw-800 {font-weight: 800;}
.fw-900 {font-weight: 900;}

.fz-18 {
	font-size: 1.8rem;
}
.fz-22{
	font-size: 2.2rem;
}
.ws-09{
word-spacing: 0.9px !important;
}

// break points
$sm : 576px;
$md : 768px;
$lg : 992px;
$xl : 1200px;


